/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-body);
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--bc-color);
  background-image: repeating-linear-gradient(
      90deg,
      /* Полоски слева направо */ var(--stripe-color),
      /* Цвет первой полоски */ var(--stripe-color) 2px,
      /* Ширина полоски */ var(--stripe-transparent) 2px,
      /* Прозрачная полоска начинается */ var(--stripe-transparent) 4px
        /* Ширина полоски и прозрачной части */
    ),
    /* Второй слой — вертикальные полоски */
      repeating-linear-gradient(
        180deg,
        /* Полоски сверху вниз */ var(--stripe-color),
        var(--stripe-color) 2px,
        var(--stripe-transparent) 2px,
        var(--stripe-transparent) 4px
      ),
    /* Третий слой — изменение насыщенности цвета */
      linear-gradient(
        to bottom,
        var(--bg-gradient-color1) 0.01%,
        /* Начало градиента */ var(--bg-gradient-color2) 100% /* Конец */
      );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section {
  width: 100%;
  background-color: var(--bc-color);
  border: 2px solid var(--color);
  margin-bottom: 50px;
}

@media (min-width: 376px) {
  .section {
    width: clamp(375px, calc(30.35vw + 263px), 700px);
  }
}

.header {
  font-family: var(--font-accent);
  margin: 100px 0;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--bc-color);
  border: 2px solid var(--color);
  margin-bottom: 100px;
}

@media (min-width: 376px) {
  .header {
    padding-top: 136px;
    width: clamp(375px, calc(30.35vw + 263px), 700px);
  }
}

.heading.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__paragraph {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 25px;
}

.header__theme-menu {
  margin-bottom: 25px;
  padding-left: 20px;
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  color: var(--color);
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
}
.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: inherit;
  opacity: 0.6;
  animation: arrowMove 0.5s ease-in-out infinite alternate;
}

@keyframes arrowMove {
  0% {
    left: -20px; /* Текущий сдвиг */
  }
  100% {
    left: -16px; /* Сдвиг на 4 пикселя правее */
  }
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: ""; /* Псевдоэлемент без содержимого */
  position: absolute; /* Позиционирование относительно кнопки */
  bottom: -2px; /* Расположение снизу */
  left: 0; /* Начальное положение по горизонтали */
  width: 100%; /* Ширина псевдоэлемента */
  height: 2px; /* Высота подчеркивания */
  background-color: var(--color); /* Цвет подчеркивания */
  transform: translateX(-50%) scaleX(0); /* Начальное масштабирование */
  transition: transform 0.3s ease; /* Плавный переход для масштабирования */
}

.theme-menu__button:focus-visible::after {
  transform: translateX(0) scaleX(1); /* Масштабируем псевдоэлемент по оси X */
}

.header__section {
  font-variation-settings: "wght" var(--font-weight-heading);
  padding: 4px 10px 6px;
  font-size: 18px;
}

img {
  width: 100%; /* Заполнение ширины контейнера */
  height: auto; /* Сохранение пропорций */
  object-fit: cover; /* Измените на contain, если хотите сохранить пропорции */
}

.image__container {
  position: relative;
}

.card__label {
  font-family: var(--font-accent);
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 13px;
  -webkit-text-stroke: 0.3px var(--border-color);
  mix-blend-mode: hard-light;
}

.article {
  padding: 25px;
}

p:first-child {
  margin-bottom: 27px; /* Задайте нужный вам отступ */
}

.like {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 25px 25px 25px;
  font-size: 14px;
}

.like-icon {
  position: absolute;
  left: -47px;
  top: 0;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100%;
  transition: outline 0.3s ease;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: 2px solid var(--color);
}

.card__like-button {
  position: relative;
  min-width: 130px;
  padding: 12.5px 0 4px 0;
  background-color: var(--bc-color);
  border: 2px solid var(--color);
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--color);
  transition: box-shadow 0.3s ease-in-out;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  transform: scaleX(0); /* Сжимаем элемент по X */
  transform-origin: left; /* Точка начала анимации — слева */
  transition: transform 0.5s ease-in-out; /* Плавная анимация */
}

.card__like-button:hover::before {
  transform: scaleX(1); /* Расширяем элемент по оси X до полного размера */
}

.card__icon-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
  margin-bottom: 100px;
  padding: 15px;
  width: 100%;
  background-color: var(--bc-color);
  border: 2px solid var(--color);
  overflow: hidden;
  max-width: 306px;
}

@media (min-width: 376px) {
  .card__icon-button {
    flex-direction: row;
    max-width: 335px;
  }
  .icon {
    width: 21px;
    height: 21px;
  }
}

.card__icon-button:focus-within {
  outline: none;
  box-shadow: 2px 2px 0px var(--color);
  transition: box-shadow 0.3s ease-in-out;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  transform: scaleX(0); /* Сжимаем элемент по X */
  transform-origin: left; /* Точка начала анимации — слева */
  transition: transform 0.5s ease-in-out; /* Плавная анимация */
  z-index: 0;
}

.card__icon-button:hover::before {
  transform: scaleX(1); /* Расширяем элемент по оси X до полного размера */
}

.button__text {
  display: inline-block;
  width: 100%;
  line-height: 90%;
  position: relative;
  color: var(--text-color);
  background-color: transparent;
  font-family: var(--font-accent);
  font-size: 14px;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__icon-button:hover .button__text {
  transition: color 0.5s ease-in-out; /* Плавная смена цвета текста */
}

.icon {
  mix-blend-mode: difference; /* Применяем режим смешивания к иконке */
  z-index: 1; /* Иконка тоже должна быть над псевдоэлементом */
  color: var(--text-color);
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s;
}

.heart:hover .core {
  fill: var(--color); /* Заливка сердцевины акцентным цветом */
  transition: fill 0.3s ease 0s; /* Сразу же при наведении */
}

.heart:hover .main-body {
  fill: var(--color); /* Заливка основного тела акцентным цветом */
  transition: fill 0.3s ease 0.05s; /* С задержкой 0.05s */
}

.heart:not(:hover) .core {
  fill: none; /* Прозрачная сердцевина при уходе */
  transition: fill 0.3s ease 0.03s; /* С задержкой 0.03s */
}
.heart:not(:hover) .main-body {
  fill: none; /* Прозрачное основное тело при уходе */
  transition: fill 0.3s ease 0s; /* Без задержки */
}

.heart:active .core {
  fill: var(--spark-fill); /* Заливка сердцевины акцентным цветом */
  transition: fill 0.3s ease 0s; /* Сразу же при наведении */
}

.heart:active .main-body {
  fill: var(--spark-fill); /* Заливка основного тела акцентным цветом */
  transition: fill 0.3s ease 0.05s; /* С задержкой 0.05s */
}

.like-icon.is-liked .core {
  fill: var(--spark-fill); /* Заливка сердцевины красным */
  transition: fill 0.3s ease 0s; /* Плавное изменение при клике */
}

.like-icon.is-liked .main-body {
  fill: var(--spark-fill); /* Заливка основного тела красным */
  transition: fill 0.3s ease 0.06s; /* С задержкой 0.06s */
}

.like-icon.is-liked .contour {
  fill: var(--spark-fill); /* Заливка контура красным */
  transition: fill 0.3s ease 0.12s; /* С задержкой 0.12s */
}

/* Анимация для масштабирования */
.like-icon.is-liked {
  animation: scale-heart 0.3s ease-in forwards; /* Масштабирование */
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s ease-in forwards; /* Анимация искр */
}

.like-icon:not(.is-liked) .contour {
  fill: var(--color); /* Возвращение к исходному цвету */
  transition: fill 0.1s linear; /* Быстрое возвращение без задержек */
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.dialog {
  font-family: var(--font-accent);
  max-width: 341px;
  padding: 30px;
  background-color: var(--bc-color);
  color: var(--color);
}

@media (min-width: 376px) {
  .dialog {
    max-width: 353px;
  }
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__content {
  display: flex;
  gap: 20px;

  align-items: center;
  justify-content: left;
}

dialog .icon {
  width: 100%;
}

.close {
  color: var(--color);
  padding: 12.5px 0;
  border: 2px solid var(--color);
}

.grayscale {
  filter: grayscale(100%);
}

.sepia {
  filter: sepia(100%);
}

.blur {
  filter: blur(5px);
}

.hue-rotate {
  filter: hue-rotate(180deg);
}

.brightness {
  filter: brightness(150%);
}

.contrast {
  filter: contrast(200%);
}

.multiple-filters {
  filter: saturate(300%) blur(2px);
}
