/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Переменные для шрифтов */
  --font-main: "Inter";
  --font-accent: "PressStart2P", sans-serif;
  --font-size: 18px;
  --section-max-width: 1200px; /* Максимальная ширина секций */
  --section-min-width: 320px; /* Минимальная ширина секций */
  --section-fluid-width: 45vw; /* Резиновая ширина, относительно экрана */
  --spark-fill: #ff0000;
}
